<div class="datatable doctor-table">

  <div class="header">
    <h2>
      Employee Details
    </h2>
    <button mat-flat-button color="primary" (click)="openDialog()">Upload</button>
  </div>

  <div class="table-block" [style.width.%]="80">
    <ngx-datatable
      #table
      class="material expandable"
      [rows]='rows'
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="50"
      limit = 3
      [reorderable]="false"
      [scrollbarH]="true"
    >

      <ngx-datatable-column name="S.No" prop="id" [resizeable]="false" [width]="20">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span>{{rowIndex  + 1 }}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Job Title" prop="jobTitle" [resizeable]="false" [width]="20">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="First Name" prop="firstName" [resizeable]="false" [width]="20">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Last Name" prop="lastName" [resizeable]="false" [width]="20">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Employee Code" prop="employeeCode" [resizeable]="false" [width]="20">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Phone Number" prop="phoneNumber" [resizeable]="false" [width]="20">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Email Address" prop="emailAddress" [resizeable]="false" [width]="20">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
          <span>{{value}}</span>
        </ng-template>
      </ngx-datatable-column>

      <!-- <ngx-datatable-column name="{{'FIRST_NAME' | translate}}" [width]="100" prop="first_name" [resizeable]="false"
       >
         <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
           <span>{{value | titlecase}}</span>
         </ng-template>
       </ngx-datatable-column>

       <ngx-datatable-column prop="last_name" [width]="100" name="{{'LAST_NAME' | translate}}" [resizeable]="false"
       >
         <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
           <span>{{value | titlecase}}</span>
         </ng-template>
       </ngx-datatable-column>


       <ngx-datatable-column name="Email" prop="email" [resizeable]="false"
       >
         <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
           <span>{{value}} </span>
         </ng-template>
       </ngx-datatable-column>

       <ngx-datatable-column name="{{'DELETE' | translate}}" [width]="160" [sortable]="false" [resizeable]="false">
         <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
           <button class="delete" mat-icon-button><em class="material-icons" (click)="confirmDelete(row, rowIndex)">
             delete
           </em>
           </button>
         </ng-template>
       </ngx-datatable-column>
 -->
    </ngx-datatable>
  </div>



  </div>


<router-outlet></router-outlet>
